h2{
    font-size: 500px;
    color: red;
}
.fa-user-chef
{
    font-size: 70;
    color: black;
}
.biryani
{
    border-radius:50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.dosa
{
  border-radius: 50%;
  width: 500;
  height: 500;
  object-fit: cover;
}
body
{
    background-color: greenyellow;
}
#p
{
    font-size: 100px;
    color: black;
}
h1{
    font-size: 100px;
    color: black;
}

